.contenedor__destacada__full {
    @include width-height (100%, auto);
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    background: url(../img/destacada/Grupo-13333.png) no-repeat;
    background-size: contain;

    .contenedor__destacada {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
        grid-template-areas: 
        'productos imagen';
        // background-color: mediumpurple;
    }
    .contenedor__destacada__2 {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto;
        grid-template-areas: 
        'imagen productos';
        // background-color: mediumpurple;
    }
}

.contenedor__titulos__productos {
    grid-area: productos;
    padding-top: 5rem;
}

// titulos
.contenedor__titulos {
    @include width-height (85%, auto);
    text-align: center;
    margin: 0 auto 1.5rem;
    position: relative;

    .titulo__cursiva {
        font-size: 1.5rem;
        color: map-get($colores, amarillo);
    }

    .arrows {
        position: absolute;
        top: 60%;
        right: 0;
        transform: translate(0, -60%);
        // background-color: mediumslateblue;
        img {
            width: 40px;
        }
    }

    .titulo {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: map-get($colores, negro);
        // color: $color-negro;
        margin: .5rem 0;
    }

    .linea__separadora {
        text-align: center;
        color: map-get($colores, amarillo);
    }
}

// productos
.contenedor__productos {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .contenedor__producto {
        @include width-height (200px, 280px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .producto__imagen {
            @include width-height (inherit, 200px);
            position: relative;

            img {
                @include width-height (inherit, inherit);
            }


        }
    }

    .producto__categoria {
        text-decoration: none;
        color: map-get($colores, amarillo);
        display: inline-block;
        // margin-top: .5rem;
    }

    .producto__nombre {
        text-transform: uppercase;
        font-size: 1rem;
        color: map-get($colores, negro);
        // margin: .5rem 0;
    }

    .producto__precio {
        font-size: 1rem;
        color: map-get($colores, negro);
    }

}

// hover en producto
.imagen__hover {
    position: absolute;
    width: inherit;
    height: inherit;
    // background-color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    top: 0;
    left: 0;
    

    overflow: hidden;

    .heart {
        background-color: $color-amarillo;
        padding: .5rem;
        height: 2.5rem;
        position: absolute;
        bottom: -21%;
        left: 0;
        opacity: 0;
        transition: all .8s ease;

        &__icon {
            width: 25px;
            color: $color-blanco;
            background-color: transparent;

            // &:hover {
            //     color: rgb(189, 37, 37);
            // }
        }

        
    }

    .añadir-carrito {
        background-color: $color-amarillo;
        height: 2.5rem;
        width: calc(100% - 80px);
        margin: 0;
        position: absolute;
        bottom: -21%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 1.2s ease;


        &__link {
            font-size: .8rem;
            font-weight: 500;
            color: $color-blanco;
        }
    }

    .search {
        background-color: $color-amarillo;
        height: 2.5rem;
        padding: .5rem;
        position: absolute;
        bottom: -21%;
        right: 0;
        opacity: 0;

        transition: all 1.5s ease;

        &__icon {
            width: 25px;
            color: $color-blanco;
        }
    }

    &:hover .heart, &:hover .añadir-carrito, &:hover .search {
        // top: 0;
        bottom: 0;
        opacity: 1;
    }
}

// aside
.contenedor__aside {
    grid-area: imagen;
    @include width-height (100%, auto);

    .aside__imagen {
        @include width-height (100%, 550px);
        position: relative;
        overflow: hidden;
        img {
            @include width-height (inherit, inherit);
            object-fit: cover;
            object-position: center top;
            transition: all 1s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        .aside__button {
            @include p-absolute (85%, 0);
            width: 100%;
            margin: 0 auto;
            background-color: transparent;
            border: none;
            outline: none;
            

            input {
                background-color: $color-amarillo;
                border: none;
                outline: none;
                padding: 1rem 2rem;
                font-size: 1rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: map-get($colores, blanco);
                cursor: pointer
            }
        }
    }
}