.contenedor__footer {
    @include width-height (100%, auto);
    padding-bottom: 2rem;
}

.footer {
    @include width-height (70%, inherit);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 2rem auto 0 auto;
    align-items: baseline;
}

.footer__imagen {
    text-align: center;
    line-height: 1.5rem;
    color: $color-negro;

    .logo {
        width: 80px;
    }
}

.footer__info {
    text-align: center;
    line-height: 2.2rem;
    color: $color-negro;
}

.footer__menu {
    text-align: center;
    line-height: 1.9rem;
    color: $color-negro;

    .footer__ul {
        list-style: none;
        
        a {
            color: $color-negro;
            text-decoration: none;
        }
    }
}

.copyright {
    color: $color-negro;
    text-align: center;
}