.contenedor__suscripcion__full {
    @include width-height (100%, 20rem);
    background-color: #f2e6e2;

    position: relative;
}

.contenedor__suscripcion {
    @include width-height (55%, 15rem);
    max-width: 900px;
    text-align: center;

    display: grid;
    gap: 1rem;

    @include p-absolute (50%, 50%);
    transform: translate(-50%, -50%);

    .suscripcion__titulo {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $color-negro;
        letter-spacing: 1px;
    }

    .suscripcion__info {
        color: $color-negro;

        a {
            color: #269fb7;
            text-decoration: underline;
        }
    }

    .suscripcion__email {
        @include width-height (100%, 2.6rem);
        display: flex;
        gap: .5rem;

        .email {
            width: 75%;
            padding: .5rem;
            outline: none;
            border: none;
            border-radius: 3px;
        }

        .email__btn {
            @include width-height (25%, auto);
            padding: .5rem;
            border: none;
            font-size: 1rem;
            background-color: $color-verde;
            color: $color-blanco;
            border-radius: 3px;
        }
    }

    .contenedor__iconos {
        @include width-height (100%, auto);
        display: flex;
        justify-content: center;
        gap: 2rem;

        svg {
            width: 25px;
            color: #010101;
            &:hover {
                color: $color-verde;
            }
        }
        // width="16" height="16"
    }
}