.contenedor__vinculos {
    @include width-height (100%, 40rem);
    // @include d__flex(row, center, center);
    @extend %d-flex__row;
}

.vinculos {
    @include width-height (70%, 85%);
    background-image: url(../img/vinculos/IMG_6298-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;

    .vinculos__textos {
        width: 100%;
        @include p-absolute (60%, 50%);
        // position: absolute;
        // top: 60%;
        // left: 50%;
        transform: translate(-50%, -40%);
        text-align: center;
        display: grid;
        gap: 1rem;

        .texto__pulsera {
            font-size: 1.5rem;
            color: $color-blanco;
        }

        .texto__frase {
            color: $color-blanco;
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        .vinculo__boton {
            @include width-height (min-content, auto);
            margin: 0 auto;
            background-color: $color-amarillo;
            color: $color-blanco;
            padding: .8rem 1.5rem;
            text-transform: uppercase;
            border: 0;
            letter-spacing: 1px;
            cursor: pointer;
        }

    }
}