@media screen and (max-width: 767px) {
    .main__producto {
        margin-top: 50px;
    }

    .contenedor__producto-view {
        @include d__grid-repeart(1, 1fr, auto);
        padding: 0;
        padding: 1rem 0;
        column-gap: 0;
    }

    .producto__col-1 {
        @include width-height(90%, auto);
        margin: 0 auto 1rem;
    }

    .productos__imagen {
        @include width-height(100%, 400px);
        min-height: 320px;
        max-height: 500px;
    }

    .producto__imagen1, .producto__imagen2, .producto__imagen3 {
        @include width-height(100%, 100%);
        min-height: 320px;
        max-height: 500px;
    }

    .labels__imagenes {
        @include width-height(100%, auto);
    }

    // columna 2

    .producto__col-2 {
        @include width-height(90%, auto);
        margin: 0 auto;

        .producto__titulo {
            font-size: 2rem;
        }

        .contenedor__precio-meta {
            @include width-height(100%, 15rem);
        }

        .producto__carrito {
            @include width-height (100%, auto);
            @include d__flex(column, flex-start, flex-start);
            column-gap: 0;
            row-gap: .5rem;
            margin-top: .5rem;
        }

        .producto__boton-añadir, .boton__añadir{
            @include width-height(100%, auto);
        }

        .producto__cantidad {
            padding-right: .8rem;
        }

    }

    
.contenedor__extras {
    @include width-height(90%, auto);
    
}

.contenedor__des-info-val {
    width: 100%;
}

.contenedor__list {
    @include width-height(100%, auto);
    @include d__flex (column, center, baseline);
    column-gap: .5rem;
}

.contenedor__list {
    @include d__flex (column, center, flex-start);
}

.val {

    padding: 1rem 0;

    &__card {
        @include width-height (100%, 16rem);
        @include d__flex (column, center, center);
        gap: 0;
    }

    &__comentarios {
        @include d__flex(column, center, center);
    }
}

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .main__producto {
        margin-top: 70px;
    }

    .contenedor__producto-view {
        @include d__grid-repeart(1, 1fr, auto);
        @include width-height(90%, 100%);
        padding: 0;
        column-gap: 0;
    }

    .producto__col-1 {
        // @include d__grid-repeart(2, 80%, 20%);
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto;
        grid-template-areas:
        'producto imagenes';
    }

    .productos__imagen {
        @include width-height(100%, 500px);
        grid-area: producto;
        place-self: center;
        margin: 0;
    }

    .labels__imagenes {
        @include d__flex (column, flex-start, flex-start);
        row-gap: 1rem;
        grid-area: imagenes;
        margin: 0;
        padding: 0 1rem;
        // place-self: center;
    }

    .label__img1, .label__img2, .label__img3 {
        @include width-height(110px, 110px);
    }


    .producto__col-2 {
        padding-top: 1rem;

        .producto__carrito {
            @include width-height(100%, 100px);
        }
        
    }

}

