@media screen and (max-width: 767px) {
    .main__productos {
        margin-top: 50px;
    }

    .ecommerce {
        @include width-height (100%, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
        'categorias' 
        'productos';
    }

    .categorias {
        @include width-height(90%, auto);
        margin: 0 auto;
        padding-top: .8rem;
    }

    .position__sticky {
        position: static;
    }


    .productos {

        @include width-height(90%, auto);
        margin: 0 auto;

        &__migas {
            @include width-height(100%, auto);
            @include d__flex(column,center,flex-start);
            gap: 1rem;
            margin-top: 1rem;
        }

        &__detalles {
            @include d__grid-repeart (2, 50%, auto);
            padding: 1.2rem 0;
            // column-gap: .5rem;
            // background-color: mediumaquamarine;
        }
    }

    .producto {
        background-color: magenta;

        &__contenedor-img {
            @include width-height (95%, 95%);
            margin: 0 auto;
            // background: red;
        }

        &__img {
            @include width-height(100%, 100%);
        }

    }

}

// ----- 768px -----

@media screen and (min-width: 768px) and (max-width: 992px) {
    .main__productos {
        margin-top: 50px;
    }

    .ecommerce {
        @include width-height (100%, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
        'categorias' 
        'productos';
    }

    .categorias {
        @include width-height(90%, auto);
        margin: 0 auto;
    }

    // .categorias__busqueda {
    //     @include width-height(70%, auto);
    // }


    .productos {

        @include width-height(90%, auto);
        margin: 0 auto;

        &__migas {
            @include width-height(100%, auto);
            @include d__flex(column,center,flex-start);
            gap: 1rem;
            margin-top: 1rem;
        }

        &__detalles {
            @include d__grid-repeart (3, 1fr, auto);
            padding: 1.2rem 0;
            // column-gap: .5rem;
            // background-color: mediumaquamarine;
        }
    }

    .producto {
        // background-color: magenta;

        &__contenedor-img {
            @include width-height (95%, 95%);
            margin: 0 auto;
            // background: red;
            
        }

        &__img {
            @include width-height(100%, 100%);
        }

    }
}

@media screen and (min-width: 993px) and (max-width: 1330px) {
    .ecommerce {
        @include width-height (95%, auto);
    }

    .productos {

        &__detalles {

            column-gap: 1rem;
        }
    }

    .producto {
    

        &__contenedor-img {
            @include width-height (210px, 210px);
            max-width: 250px;
        }


    }
}