@media screen and (max-width: 767px) {
    .contenedor__destacada__full {
        margin: 0 0 25px;
        gap: 4rem;
        background-image: none;
        .contenedor__destacada, .contenedor__destacada__2 {
            width: 90%;
            grid-template-columns: 1fr;
            grid-template-areas: 
            'productos'
            'imagen';
            gap: 1.2rem;
        }
    }

    // titulos
    .contenedor__titulos {

        .arrows {
            position: relative;
            top: 0;
            transform: translate(0, 0);
            margin-top: .3rem;
        }
    }
    

    // productos
    .contenedor__titulos__productos {
        padding-top: 0;
    }

    .contenedor__productos {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .contenedor__producto {
            width: 300px;
            height: 400px;

            .producto__imagen {
                height: 300px;
            }
        }
    }

    // aside 
    .contenedor__aside {
        background-color: mediumaquamarine;
        @include width-height (80%, auto);
        margin: 0 auto;

        .aside__imagen {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            text-align: center;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .contenedor__destacada__full {
        gap: 1rem;
        background-image: none;

        .contenedor__destacada {
            width: 90%;
            grid-template-areas: 
            'productos imagen';
            // background-color: moccasin;
        }

        .contenedor__destacada__2 {
            width: 90%;
            grid-template-areas: 
            'imagen productos';
            // background-color: moccasin;
        }

    }

    .contenedor__titulos__productos {
        padding-top: 0;
    }

    .contenedor__titulos {

        .titulo__cursiva {
            font-size: 1.2rem;
        }

        .arrows {

            img {
                width: 32px;
            }

    }

    .titulo {
        font-size: 1.3rem;
    }

}

.contenedor__productos {
    width: 90%;
    justify-content: space-around;

    .contenedor__producto {
        @include width-height(150px, 230px);

        .producto__imagen {
            @include width-height (140px, 140px);
            margin: 0 auto;
        }
    }

    .producto__categoria {
        font-size: .9rem;
    }

    .producto__nombre {
        font-size: .8rem;
    }

    .producto__precio {
        font-size: .8rem;
    }
}

// hover en producto
.imagen__hover {

    .heart {
        &__icon {
            width: 20px;
        }
    
    }

    .añadir-carrito {
        width: calc(100% - 55px);

    }

    .search {
        &__icon {

            width: 20px;
        }
    }
}

.contenedor__aside {

    .aside__imagen {

        @include width-height (100%, 400px);
        .aside__button {

            input {
                padding: .8rem 1rem;
                font-size: .9rem;
            }
        }
    }
}

}



@media screen and (min-width: 993px) and (max-width: 1280px) {

    .contenedor__destacada__full {
        gap: 1rem;
        background-image: none;

        .contenedor__destacada {
            width: 90%;
            grid-template-areas: 
            'productos imagen';
            // background-color: moccasin;
        }

        .contenedor__destacada__2 {
            width: 90%;
            grid-template-areas: 
            'imagen productos';
            // background-color: moccasin;
        }

    }

    .contenedor__productos {
        width: 100%;
        justify-content: space-around;
    }

    .contenedor__aside {

        .aside__imagen {
    
            @include width-height (100%, 500px);
            .aside__button {
    
                input {
                    padding: .8rem 1rem;
                    font-size: .9rem;
                }
            }
        }
    }
    
}

