@media screen and (max-width: 767px) {
    .contenedor__elementos__full {
        height: 55rem;
    }

    .contenedor__elementos{
        width: 100%;
        flex-direction: column;
        padding: 2rem 0;
        gap: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .contenedor__elementos__full {
        @include width-height (100%, 20rem);
    }

    .contenedor__elementos {
        @include width-height (90%, inherit);

        
    .elemento {
        @include width-height (220px, 220px);
    }
    }

}

@media screen and (min-width:993px) and (max-width: 1280px) {

    .contenedor__elementos__full {
        @include width-height (100%, 20rem);
    }

    
    .contenedor__elementos {
        @include width-height (80%, inherit);
    }
}