@media screen and (max-width: 767px) {
    
    .contenedor__footer {
        height: auto;
        padding: 1.2rem 0;
    }

    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 2rem;
    }

    .footer__info {
        margin: 2rem 0;
    }

    .copyright {
        @include width-height(80%, auto);
        margin: 0 auto;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .footer {
        @include width-height(90%, auto);
        @include d__grid-repeart (3, 1fr, auto);
        grid-template-rows: auto;
        margin-bottom: 2rem;
    }
    
}