.main__preguntas {
    @include width-height(100%, auto);
    margin-top: 87px;
}

// imagen
.preguntas {
    @include width-height(100%, 20rem);
    @extend %d-flex__row;
    background: url(../img/preguntas/pexels-godisable-jacob-1191531.jpg) no-repeat center center; 

    &__texto {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        color: $color-blanco;
        font-size: 3rem;
        text-shadow: 0 0 7px rgb(0, 0, 0, 0.5);
    }
}

// card
.contenedor__card {
    @include width-height (50%, auto);
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 0;
    // background-color: moccasin;
}

.card__texto-ayuda {
    @include width-height(80%, auto);
    margin: 0 auto 1rem auto;
    font-weight: 500;
}

.card {
    @include width-height(80%, auto);
    border: 1px solid rgb(123, 98, 129);
    margin: 0 auto 1rem auto;
    // background-color: mediumpurple;

    &__titulo {
        @include width-height(100%, auto);
        @include d__flex(row, space-between, center);
        // font-size: 0;
        padding: 1.2rem 1rem;
    }
    

    &__pregunta {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__textos {
        @include width-height(100%, 0);
        // display: none;
        padding: 0 1rem;
        // background-color: mediumseagreen;
        overflow: hidden;
        transition: height .8s ease-in-out;
    }

    &__items {
        padding-top: .8rem;
        // background-color: mediumpurple;
    }

    &__item {
        list-style-type: none;
    }

    &__label-img {
        width: 30px;
        cursor: pointer;
    }
    
}

.card input {

    display: none;
    &:checked ~ .card__textos {
        // border-top: 1px solid rgb(123, 98, 129);
        @include width-height(100%, 12rem);
        
    }

}