@media screen and (max-width: 767px) {
    .contenedor-contacto {
        margin-top: 50px;
    }

    .imagen {

        &__texto {
            font-size: 2rem;
        }
    }

    .contenedor-formulario {
        @include width-height(90%, auto);
        padding: 2rem 0;
    }

    .formulario {
        @include width-height(100%, auto);
        padding: 1rem;

        &__campos {
            @include d__grid-repeart (1, 1fr, auto);
            grid-template-areas: 
            'nombre'
            'apellido'
            'correo'
            'asunto'
            'mensaje'; 
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .contenedor-contacto {
        margin-top: 50px;
    }
    .contenedor-formulario {
        @include width-height(70%, auto);
        padding: 2rem 0;
    }

    .formulario {
        @include width-height(100%, auto);
        padding: 1rem;
    }

}
